<!doctype HTML>
<head>
    <title>JSON Resume Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.slim.js"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
</head>
<body>
    <div class="ui container">
        <h1>JSON Resume Server</h1>
        <h2>built with Flask</h2>
        <div class="ui divider"></div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="ui message"><p>{{ message }}</p></div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
</body>