<!doctype HTML>
<head>
    <title>JSON Resume Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.slim.js"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
</head>
<style>
    body {
      background-color: #F7F7F7;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
</style>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
        <h2 class="ui image grey header">
            <div class="content">
                Upload and Validate Your JSON Resume here
            </div>
        </h2>
        {% block body %}{% endblock %}
        <div class="ui info message">
            view <a href="https://github.com/kelvintaywl/jsonresume-server" target="_blank">code on Github</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="ui {{ category }} message">
                        <div class="header">
                        {% if category == "error" %}Missing / Invalid Value in Resume{% endif %}
                        </div>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    </div>
</body>